body {
  background-color: #000055;
  color: white;
  text-align: center;
}

#city {
  font-size: 200%;
  margin: 50px 0px;
}

#wrapper {
  font-size: 150%;
  line-height: 70px;
}

.info {
  font-size: 120%;
}

#thermo {
  width: 40px;
  margin-bottom: 0px;
  position: relative;
  top: 10px;
}

#temp {
  display: inline-block;
  margin: auto;
  width: 60px;
  color: yellow;
  cursor: pointer;
}